@define-color bg #051305;
@define-color fg #b7d2b2;
@define-color gray1 #82bb7c;
@define-color gray2 #5aa45a;
@define-color gray3 #8d8dc9;
@define-color gray4 #8fbf87;
@define-color gray5 #cd98cd;
@define-color fg_bright #89b981;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}